body{
    background-color: rgb(182, 205, 255);
    text-align: center;

}
button{
    text-align: center;
    color: brown;
    background-color: rgb(137, 149, 255);
}
input{
    text-align: center;
}
a{
    color: rgb(0, 0, 0);
    background-color: rgb(137, 149, 255);
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}