body{
    background-color: #b6cdff;
    text-align: center;

}
a{
    background:  #9ab8f8;
    color: black;
    border: 1px solid blue;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer; 
}
